<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849048925435-rc855drcb7o0cnrv4jjat226btabl0ms.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849048925435-rc855drcb7o0cnrv4jjat226btabl0ms</string>
	<key>API_KEY</key>
	<string>AIzaSyCI5_uBtycIl7PNshii2-tu6Fwrm_2uE7E</string>
	<key>GCM_SENDER_ID</key>
	<string>849048925435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mobulous.Aqar55</string>
	<key>PROJECT_ID</key>
	<string>aqar55ios</string>
	<key>STORAGE_BUCKET</key>
	<string>aqar55ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849048925435:ios:9b3ae8c04ef4ec3f</string>
	<key>DATABASE_URL</key>
	<string>https://aqar55ios.firebaseio.com</string>
</dict>
</plist>